  body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .product-card {
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    background: #f9f9f9;
    position: relative;
  }

  .product-card h3 {
    color: #333;
    margin-bottom: 10px;
  }


  /* ==========================================
    Estilos para la nueva interfaz de Login 
    ========================================== */

  .login-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* color de la imagen de la derecha */
    background-color: #ffffff;
    overflow-x: hidden;
  }

  /* Color de fondo de la parte izquierda*/
  .login-form-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color:#f2f2f2 ;
  }


  /*  Imagen de la de derecha */  
  .login-image-side {
    flex: 1;
    background-image: url('./assets/tools-repairing-shop.jpg'); 
    background-size: cover;
    background-position: center;
    display: block;
  }

  /* Ocultar la parte de la imagen en celulares para que no se rompa */
  @media (max-width: 768px) {
    .login-image-side {
      display: none;
    }
  }
/* Color de las letras Ferreteria isabella*/
  .login-header .logo-text {
    font-weight: 700;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .login-content {
    max-width: 400px;
    width: 100%;
    margin: auto;
  }
/* color de letras iniciar sesion */
  .login-content h2 {
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 30px;
  }

  /* Estilo flotante moderno para los inputs */
  .custom-input-group {
    position: relative;
    margin-bottom: 20px;
  }
  .custom-input-group label {
    position: absolute;
    left: 12px;
    top: -10px;
    /* color del fondo de las letras */
    background: #f2f2f2;
    padding: 0 6px;
    font-size: 12px;
    /* color de las letras correo y  password */
    color: #5b5351;
    font-weight: 500;
  }

  .custom-input-group input {
    /* color de fondo de los imputs */
    background-color:#f8f8f8 ;
    width: 100%;
    padding: 14px 40px 14px 14px;
    /* color de los bordes */
    border: 1px solid #4b5563;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    /* color al escribir */
    color: #3c3132;
    transition: all 0.2s ease;
  }
/* color de iconos */
  .custom-input-group .input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
  }

  .btn-insidebox {
    width: 100%;
    padding: 14px;
    /* color de fondo de iniciar sesion */
    background-color: #4b5563;
    /* color de las letras iniciar sesion */
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease ;
    margin-top: 10px;
  }
/* color al darle iniciar sesion hover*/
  .btn-insidebox:hover {
    background-color: #374151;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0,15);
  }
/* color de no tienes cuenta? */
  .login-footer {
    font-size: 14px;
    color: #5b6b7a;
  }
/* color de registrate */
  .login-footer a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: 600;
  }











/* Registro */

.register-container {
  display: flex;
  flex-direction: row-reverse; /* Esto manda el form a la derecha y la imagen a la izquierda */
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}


.register-form-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el formulario verticalmente */
  padding: 40px;
  /* color de fondo */
  background-color: #f2f2f2;
  box-sizing: border-box;
}

/* Imagen de la izquierda*/
.register-image-side {
  width: 50%;
  background-image: url('./assets/top-view-wood-tools-desk.jpg'); 
  background-size: cover;
  background-position: center;
  display: block;
}

/* Ocultar la imagen en celulares para que el form tome el 100% */
@media (max-width: 768px) {
  .register-form-side {
    width: 100%;
  }
  .register-image-side {
    display: none;
  }
}